$vert: #33FF95;
$vert-sombre: #005F4B;
$rouge:#ff594a;
$rouge-sombre:#4a0000;
$bleu:#66daff;
$bleu-sombre:#004c5b;
$jaune:#fffb66;
$jaune-sombre:#5b5b00;

body[data-couleur="vert"]{ --cc: #{$vert-sombre}; --bg: #{$vert}; }
body[data-couleur="rouge"]{ --cc: #{$rouge-sombre}; --bg: #{$rouge}; }
body[data-couleur="bleu"]{ --cc: #{$bleu-sombre}; --bg: #{$bleu}; }
body[data-couleur="jaune"]{ --cc: #{$jaune-sombre}; --bg: #{$jaune}; }
body[data-couleur="blanc"]{ --cc: #333333; --bg: white; }

body[data-couleur="vert-sombre"]{ --cc: #{$vert}; --bg: #{$vert-sombre}; }
body[data-couleur="rouge-sombre"]{ --cc: #{$rouge}; --bg: #{$rouge-sombre}; }
body[data-couleur="bleu-sombre"]{ --cc: #{$bleu}; --bg: #{$bleu-sombre}; }
body[data-couleur="jaune-sombre"]{ --cc: #{$jaune}; --bg: #{$jaune-sombre}; }
body[data-couleur="noir"]{ --cc: white; --bg: #333333; }

body[data-couleur$="-sombre"]{--dk: var(--bg)}
body:not([data-couleur$="-sombre"]){--dk: var(--cc)}


@media (prefers-color-scheme: dark) {
	body[data-couleur="vert"]{ --cc: #{$vert}; --bg: #{$vert-sombre}; }
	body[data-couleur="rouge"]{ --cc: #{$rouge}; --bg: #{$rouge-sombre}; }
	body[data-couleur="bleu"]{ --cc: #{$bleu}; --bg: #{$bleu-sombre}; }
	body[data-couleur="jaune"]{ --cc: #{$jaune}; --bg: #{$jaune-sombre}; }
	body[data-couleur="blanc"]{ --cc: white; --bg: #333333; }
	body{--dk: var(--bg)}
}