/* desktop */
$unite: 25px;
$topbar: $baseline*3.5;


/*  bordures  */
$border: 0.5px solid var(--cc);
$border-light: 0.5px solid #efefef;

/*  autre */
::selection, ::-moz-selection{
    background: var(--cc);
    color: var(--bg);
} 

@mixin text-overflow($value: ellipsis) {
    @if $value == clip {
		text-overflow: clip;
	}
	@else {
		text-overflow: $value;
	}
	white-space: nowrap;
	overflow: hidden;
}


@mixin grid($value: 6){
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat($value, 1fr);
    grid-column-gap: $unite;
  }
}

@mixin trans01 ($time: .25s, $timing: cubic-bezier(.5,0,.1,1)){
  transition: left, right, margin, padding, width, height;
  transition-duration: $time;
  transition-timing-function: $timing;

  -webkit-transition: left, right, margin, padding, width, height;
  -webkit-transition-duration: $time;
  -webkit-transition-timing-function: $timing;

  -o-transition: left, right, margin, padding, width, height;
  -o-transition-duration: $time;
  -o-transition-timing-function: $timing;
} 

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}