{% extends "_base.html" %}

{% block SEO %}
    <meta property="og:title" content="{{title}} - {{ _meta.acronyme | upper }}">  
    <meta name="description" content="{{_meta.description}}">
    <meta property="og:description" content="{{_meta.description}}">
    <meta property="og:image" content="{{_meta.url}}/social/index.jpg">  
{% endblock %}

{% block main %}
  <main>
    <!-- Cover -->
    <section id="cover">
      <h1>Jeunesse<br> Sportive {% include "../assets/svg/irigny.svg" %}</h1>
      <div class="second">
        {{ content | safe }}
        <a href="{{ post.url | url }}/le_mot_du_president.html">Le mot du Président</a>
      </div>
      <a id="to-sections" href="#sections">
        <span class="mouse">
          <span class="move"></span>
        </span>
        <p>Découvrir les activités</p>
      </a>
    </section>

    {% if _meta.reclame | length %}
    <!-- Reclame -->
    <div id="reclame">
      <p>{{ _meta.reclame }} · {{ _meta.reclame }} · {{ _meta.reclame }} · {{ _meta.reclame }} · {{ _meta.reclame }} · {{ _meta.reclame }} · {{ _meta.reclame }}</aside>
    </div>
    {%endif%}

    <!-- Liste -->
    <section id="sections">      
    	<ul>
    	{%- for post in collections.section | sortByName -%}
    	  <li>
          <a href="{{ post.url | url }}">
            <h2>
              <span >{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
              <span aria-hidden>{{ post.data.sport }}</span>
            </h2>
            <figure>
              <img src="sections/images/photo-{{ post.data.sport }}-1000.png">
            </figure>
          </a>
        </li>
    	{%- endfor -%}
    	</ul>
    </section>
  </main>
{% endblock %}