#topbar{
	@include flex();
	@include justify-content(space-between);
	margin-top: $baseline;
	margin-bottom: $baseline;
	height: $baseline*1.5;
	svg{height: $baseline*2.5; width: $baseline*2.5;}
	nav{z-index: 5;}
}

// Spécific
body#section, body#info{ 
	#topbar .logo{
		width: $unite*1.5;
		height: $unite*1.5;
		&:before{
			content: "";
			position: absolute;
			background: var(--bg);
			border-radius: 50%;
			left: -7px;
			top: -11px;
			width: 100%;
			height: 100%;
		}
	}
}