@font-face {
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('ClashGrotesk-Regular.woff2') format('woff2'),
       url('ClashGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('ClashGrotesk-Medium.woff2') format('woff2'),
       url('ClashGrotesk-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('ClashGrotesk-Semibold.woff2') format('woff2'),
       url('ClashGrotesk-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Clash Grotesk - Variable';
  src: url('ClashGrotesk-Variable.woff2') format('woff2-variations'),
      /* will be the standard and works in Safari now */
      url('ClashGrotesk-Variable.woff2') format('woff2');
      /* for the other supporting browsers */
  font-weight: 200 700;
}