body#index{
	main{

		/* 
				cover
								*/
		#cover{

			padding: 5rem 0 0 0;

			@include for-size(desktop-1200){
				@include flex;
				@include flex-direction(row);
				@include justify-content(space-evenly);
				@include align-items(center);

				min-height: calc(100vh - #{$baseline*4});
				padding: 0 0 10vh 0;
				box-sizing: border-box;			
			}

			h1{
				@include f1-s6(600, var(--cc));
				text-transform: uppercase;
				font-size: 15vw;
				font-size: clamp(50px, 15vw, 9.5rem);;
				line-height: 80%;
				letter-spacing: -.1vw;
				height: auto;
				display: inline-block;

				@supports(-webkit-text-stroke: 1px var(--cc)){
					color: var(--bg);
					-webkit-text-stroke: 1px var(--cc);
				}

				svg{
					color: var(--cc);
					width: clamp(100px, 33%, 500px);
					position: absolute;
					bottom: 0;
					right: 0;
					transform: translateY(50%);
				}
			}

			.second{
				margin: $baseline*4 0; 
				max-width: 400px;
				max-width: 22rem;
				width: 100%;

				@include for-size(desktop-1200){
					margin-left: auto;
					margin-right: auto;
					padding: 0 $unite;
				}

				> *{margin-bottom: $baseline/2;}

				h2{@include f1-s1(bolder);}

				p{@include f1-s1();}

				> a:last-of-type{
					@include f1-s1(bolder);
					text-decoration: underline;
					text-decoration-skip-ink: auto;

					&:before{
						content: "→";
						overflow-x: hidden;
						display: inline-block;
						width: 0;
						top: 5px;
						transition: .25s ease-in-out;
					}

					&:hover:before{
						width: $unite;
					}
				}
			}

			#to-sections{
				text-align: center;
				position: absolute;
				bottom: $baseline*1.25;
				padding: $baseline/4 $unite/2;
				margin: $baseline/2 0;
				//border-bottom: 1px solid currentColor;
				display: none;
				@include for-size(desktop-1200){display: inline-block;}

				p{
					@include f1-s0();
					font-weight: $bold;
					margin: $baseline/4 0;
					max-width: 5rem
				}
				.mouse {
				  margin: 0 auto;
				  display: block;
				  border-radius: 40%;
				  border: 1px solid currentColor;
				  height: 30px;
				  width: 17px;
				  position: relative;
				}

				.move {
				  position: absolute;
				  background-color: currentColor;
				  height: $unite/8;
				  width: $unite/8;
				  border-radius: 50%;
				  left: 50%;
				  transform: translateX(-50%);
				  animation: move 1.5s linear infinite;
				}

				@keyframes move {
				  0% {
				    transform: translate(-50%, 5px);
				    opacity: 0;
				  }
				  50% {
				    transform: translate(-50% 15px);
				    opacity: 1;
				  }
				  100% {
				    transform: translate(-50%,25px);
				    opacity: 0;
				  }
				}				
			}
		}

		/* 
				Reclame
								*/
		#reclame{
			background: white;
			padding: $baseline/2 0;
			border: 1px solid var(--cc);
			
			position: absolute;
			width: 100vw;
			left: 50%;
			transform: translateX(-50%) rotate(-1deg);
			z-index: 5;
			p{
				@include f1-s2(bolder);
				width: 5000px;
				transform: translateX(0);
				//transition: .25s cubic-bezier(.68,-0.55,.27,1.55);
				animation: 30s linear infinite alternate reclame;
			}
			@media (prefers-reduced-motion: reduce) { p {animation: none;} }

			@keyframes reclame{
				from{transform: translateX(0%);}
				to{transform: translateX(-15%);}
			}
		}



		/* 
				Sections
								*/
		#sections{
			min-height: calc(100rem - #{$baseline*4});
			min-height: calc(min(100vh - #{$baseline*4}, 80rem - #{$baseline*4}));
			padding-top: $baseline*2;
			ul{
				li{
					$offset: $baseline*2;
					display: inline-block;
					width: 100%;
					height: calc(60vh - #{$baseline*2});
					max-height: 40rem;
					margin-top: -4px;


					a{
						padding: $offset 0;
						box-sizing: border-box;
						display: inline-block;
						height: 100%;
						width: 100%;
					}

					h2{
						@include f1-s4(600);
						line-height: 80%;
						text-transform: uppercase;
						text-align: center;
						
						width: 100%;
						height: 100%;
						top: 0;
						left: 50%;
						transform: translate(-50%);
						position: absolute;
						overflow: hidden;
						@supports(-webkit-text-stroke: 1px var(--cc)){
							color: var(--bg);
							-webkit-text-stroke: 1px var(--cc);
						}
						span{ 
							display: block;
							transition: .66s ease;
							transform: translateX(100%);
							&:nth-of-type(2n){ transform: translateX(-150%); }
						}
					}


					figure{
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						overflow: hidden;
						img{
							object-fit: cover;
							width: 100%;
							height: 100%;
							left: 50%;
							transform: translateX(-50%) scale(1.025);
							transition: .1s ease-in-out;
						}
					}

					// hover
					&:hover {
						background: var(--bg);
						h2 span{
							transition: .33s cubic-bezier(.68,-0.55,.27,1.55);
							transform: translateX(0);
						}

						img{ transform: translateX(-50%) scale(1); transition: 2s .25s ease-in;}
					}

					/* Responsive Masonry */
					@mixin between($side){
						$dom: '';

						@if $side == top{ $dom: after; }
						@else if $side == bottom{ $dom: after; }
						@else if $side == left{ $dom: before; }
						@else if $side == right{ $dom: before; }
						
						&:#{$dom}{
							content: "";
							position: absolute;
							border-#{$side}: $border;
							#{$side}: 0;

							@if $side == top { height: 1px; width: calc(100% - #{$offset*2}); right: 0; margin: 0 $offset; }
							@else if $side == bottom { height: 1px; width: calc(100% - #{$offset*2}); right: 0; margin: 0 $offset; }
							@else if $side == left {height: calc(100% - #{$offset*2});width: 1px;margin: $offset 0;}
							@else if $side == right {height: calc(100% - #{$offset*2});width: 1px;margin: $offset 0;}
						}
					}

					@media (max-width: 43.7499rem){
						border-bottom: $border;
						figure, h2{width: calc(100% + #{$unite*2});}
						figure{left: -$unite;}
						h2{left: calc(50% - #{$unite/2});}
					}
					@media (min-width: 43.75rem){@include between(bottom);} // 700
					@media (min-width: 43.75rem) and (max-width: 56.2499rem){ // 700
						width: 49%; width: calc(50% - 0px);
						&:nth-of-type(2n){ @include between(left); }
						/* Spécifique */ &:last-of-type, &:nth-last-of-type(2){ &::after{ content: inherit;} }
						/* Débord sur les marges */
						&:nth-of-type(2n-1), &:nth-of-type(2n){ figure, h2{ width: calc(100% + #{$unite});}}
						&:nth-of-type(2n-1) figure { left: -$unite; }
						&:nth-of-type(2n-1) h2 { left: calc(50% - #{$unite/2});}
						&:nth-of-type(2n) h2 { left: calc(50% + #{$unite/2});}
					}
					@media (min-width: 56.25rem) and (max-width: 74.999rem){ // 900
						width: 33%; width: calc(33.333% - 0px);
						&:nth-of-type(3n), &:nth-of-type(3n-1){ @include between(left); }
						/* Spécifique */ &:last-of-type{ &::after{ content: inherit;} }
						/* Débord sur les marges */
						&:nth-of-type(3n-2), &:nth-of-type(3n){ figure, h2{ width: calc(100% + #{$unite});}}
						&:nth-of-type(3n-2) figure { left: -$unite; }
						&:nth-of-type(3n-2) h2 { left: calc(50% - #{$unite/2});}
						&:nth-of-type(3n) h2 { left: calc(50% + #{$unite/2});}
					}
					@media (min-width: 75rem) and (max-width: 87.499rem){ //1200
						width: 24.5%; width: calc(25% - 0px);
						&:nth-of-type(4n), &:nth-of-type(4n-1), &:nth-of-type(4n-2){ @include between(left); }
						/* Spécifique */ &:last-of-type, &:nth-last-of-type(2){ &::after{ content: inherit;} }
						/* Débord sur les marges */
						&:nth-of-type(4n-3), &:nth-of-type(4n){ figure, h2{ width: calc(100% + #{$unite});}}
						&:nth-of-type(4n-3) figure { left: -$unite; }
						&:nth-of-type(4n-3) h2 { left: calc(50% - #{$unite/2});}
						&:nth-of-type(4n) h2 { left: calc(50% + #{$unite/2});}
					}
					@media (min-width: 87.5rem){ // 1400
						width: 19.5%; width: calc(20% - 0px);
						&:nth-of-type(5n), &:nth-of-type(5n-1), &:nth-of-type(5n-2), &:nth-of-type(5n-3){ @include between(left); }
						/* Spécifique */ &:nth-last-child(-n+5){ &::after{ content: inherit;} }
						/* Débord sur les marges */
						&:nth-of-type(5n-4), &:nth-of-type(5n){ figure, h2{ width: calc(100% + #{$unite});}}
						&:nth-of-type(5n-4) figure { left: -$unite; }
						&:nth-of-type(5n-4) h2 { left: calc(50% - #{$unite/2});}
						&:nth-of-type(5n) h2 { left: calc(50% + #{$unite/2});}
					}
				}
			}
		}

		@media screen and (prefers-reduced-motion: reduce) { 
			#reclame:hover p,
			#sections ul li:hover h2 span,
			#sections ul li:hover img{ transform: none !important}
		}		
	}

	footer{margin-top: -5px;}

}