body#info{
	
	main{
		min-height: 100vh;
		min-height: calc(100vh - #{$topbar});

		&:before{ position: absolute; top: $unite/-2; left: $unite/-2; width: calc(100% + #{$unite}); height: calc(100% + #{$unite}); background: var(--bg); opacity: .9; z-index: 0; }
		
		#content, aside{left: 0;}

		/* 
				Content
								*/
		#content{
			/* fallback */margin-top: $baseline*10; 
			margin-top: calc(clamp(#{$baseline*2}, 20vh, #{$baseline*10}));


			@include f1-s1();
			max-width: 600px;
			margin-bottom: $baseline*2;
			.signature{
				@include f1-s1();
				margin: $baseline*2 0;
				em{@include f1-s1(bolder); font-style: normal; display: block;}
			}
		}

		/* 
				Aside
								*/		
		aside{
			ul{
				margin-left: $unite*4;
				margin-bottom: $baseline*2;

				em{
					@include f1-s1(bolder);
					font-style: normal;
					position: absolute;
					left: -6.5rem;
				}
			}
		}	

		/* 
				Figure
								*/
		figure{
			position: fixed;
			right: 0;
			bottom: 0;
			width: calc(clamp(350px, 50%, 37.5rem));
			height: 66vh;
			z-index: -1;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: bottom;
				transform: scaleX(-1);
			}
		}
	}	
}

/*
	Responsive
							*/
body#info main{
	@media (max-width: 1199px){
		&:before{ content: ""; }
	}
	@include for-size(desktop-1200){
		@include flex();
		@include flex-direction(row);
		@include align-items( baseline);
		@include justify-content(space-evenly)
		gap: $unite;
		//#content{@include f1-s2();}


	}	
}