body#section{

	main{
		min-height: 100vh;
		min-height: calc(100vh - #{$topbar});

		/* 
				Header
							*/
		header{

			// Main title
			h1{
				@include f1-s6(600);
				text-transform: uppercase;
				font-size: 10vw;
				font-size: clamp(60px, 10vw, 100px);;
				line-height: 80%;
				letter-spacing: -.1vw;
				height: auto;
				max-width: 800px;
				max-width: 50rem;
				display: inline-block;

				@supports(-webkit-text-stroke: 1px var(--cc)){
					color: var(--bg);
					-webkit-text-stroke: 1px var(--cc);
				}

				// JSI
				svg{
					color: var(--cc);
					height: $baseline*3;
					height: calc(clamp(#{$baseline*2}, 100%, #{$baseline*3}));
					position: absolute;
					top: -$baseline;
					left: -.5rem;
					transform: translateX(0%) translateY(0%);

				}
			}

			//détails sous titre
			ul{
				@include flex();
				@include flex-direction(row);
				@include justify-content(flex-start);
				@include flex-wrap(wrap);
				margin: $baseline 0 $baseline*2 0;
				width: 100%;
				li{
					min-width: $unite*5;
					width: 33%;
					@include f1-s1();
					&.adhérent{@include f1-s1(bolder);}
				}
			}
		}

		/* 
				Content
								*/
		#content{
			 &:before{ content: ""; position: absolute; top: $unite/-2; left: $unite/-2; width: calc(100% + #{$unite}); height: calc(100% + #{$unite}); background: var(--bg); opacity: .9; z-index: 0; }
			
			.text{
				max-width: 600px;
				max-width: 37.5rem;
				margin-bottom: $baseline*2;
				&,*{@include f1-s1();}
				h1, h2, h3{
					font-weight: $bold; 
					margin-top: $baseline;}
				a{
					//font-weight: $bold;
					text-decoration: underline;
					text-decoration-skip-ink: auto;
				}
			}
			
			/* 
					Aside
								*/
			aside{

				#logo{
					//filter: grayscale(1);
					//mix-blend-mode: multiply;
					width: $baseline*5;
					//border: 1px solid currentColor;
					//border-radius: 50%;
					height: $baseline*5;
					object-fit: contain;
					object-position: left;
					box-sizing: border-box;
					margin-bottom: $baseline;
					padding: 0;
					//position: absolute;
					//top: 0;
					//left: 0;
				}

				ul:not(#social){
					margin-left: 6.5rem;
					margin-bottom: $baseline*2;
					font-style: normal;

					li[aria-label="adresse"]{margin-top: $baseline/2}

					em{
						@include f1-s1(bolder);
						font-style: normal;
						position: absolute;
						left: -6.5rem;
					}
				}

				#social{
					width: 100%;
					margin-bottom: $baseline*2;
					svg{ height: $baseline; padding: 5px;}
				}
			}
		}

		/* 
				Figure
								*/
		figure{
			position: fixed;
			top: 0;
			left: 0;
			width: calc(clamp(500px, 35vw, 1000px));
			height: 100vh;
			z-index: -1;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: right;
			}
		}
	}
}


/*
	Responsive
							*/
body#section main{
	
	@include for-size(desktop){
		header ul {width: 33%; min-width: 28rem;}
	}

	@include for-size(desktop-1200){
		min-height: calc(100vh - #{$topbar} - clamp(#{$baseline*2}, 20vh, #{$baseline*10}) + #{$baseline});			
		header, #content{margin-left: 33.333%;}
		header{
			/* fallback */margin-top: $baseline*10; 
			margin-top: calc(clamp(#{$baseline*2}, 20vh, #{$baseline*10}));
		}
		#content{
			@include flex();
			@include flex-direction(row);
			@include justify-content(space-between);
			@include flex-wrap(wrap);
			gap: 0 $unite;
			padding-right: 7vw; //prevent extrem side position
			.text{width: 50%; margin-bottom: $baseline*7}				
		}
		aside #logo{position: absolute; top: 0; left: 0; transform: translateY(calc(-100% - #{$baseline}));}
	}
}